<!-- HTML CODE FOR INDEX PAGE -->

<!Doctype html>
<head>

<link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    {{>header}}
    
    <img src="./img/Selection_001.bmp" style= "width : 190px;">

    <p>Creator of this did his college from {{college}} in {{branch}}</p>
    {{>footer}}
</body>
</html>