<!-- HTML CODE FOR INDEX PAGE -->

<!Doctype html>
<head>

<link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    {{>header}}
    <p> How can I help you</p>
    <p> Help {{person}}</p>
    {{>footer}}
</body>
</html>